<?xml version="1.0"?>
<launch>


   <node name="goToPoint" pkg="pioneer_ctrl" type ="go_to_point_action.py" output="screen"/>
   
   <node name="positionServer"  pkg="pioneer_ctrl" type="position_service_vrep" output="screen"/>
   
   <node name="stateMachine" pkg="pioneer_ctrl" type="state_machine_vrep" output="screen"/>
  
   <node name="userInterface" pkg="pioneer_ctrl" type="user_interface.py" output="screen"/>
   

</launch>
